{% extends "layouts/shop.njk" %}

{% block content %}
    <section class="auth">
        <div class="auth__inner">
            <div class="auth__tabs">
                <div class="auth__tabs__head">
                    <a href="/auth/login" id="login" class="auth__tabs__item">Login</a>
                    <a href="/auth/register" id="registration" class="auth__tabs__item auth__tabs__item--active">Registration</a>
                </div>
                <div class="auth__tabs__content">
                    <div id="registration-tab" class="auth__tabs__content__item auth__tabs__content__item--active">
                        <form action="/auth/register" method="post" class="auth__registration-form">
                            <input type="email" class="auth__registration-form__input" name="email" required placeholder="Email">
                            <input type="text" class="auth__registration-form__input" name="name" required placeholder="Name">
                            <input type="password" class="auth__registration-form__input" name="password" required placeholder="Password">
                            <input type="hidden" name="_csrf" value="{{ csrf }}">
                            {% if error %}
                                <p class="auth__registration-form__error">{{ error }}</p>
                            {% endif %}
                            <button type="submit" class="auth__registration-form__submit">Registration</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}