{% extends "layouts/shop.njk" %}

{% block content %}
    <section class="basket" id="card">
        <div class="basket__inner">
            <h1>Basket</h1>
            <div class="basket__content">
                {% if courses.length %}

                    <table>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Count</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in courses %}
                            <tr>
                                <td>{{ item.title }}</td>
                                <td>{{ item.count }}</td>
                                <td>
                                    <button class="delete js-remove" data-id="{{ item._id }}">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="total"><strong>Total Price:</strong> <span class="price">{{ price }}</span></p>
                {% else %}
                    <p class="basket__empty">Empty</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}