{% extends "layouts/shop.njk" %}

{% block content %}
    <section class="courses">
        <div class="courses__inner">
            <h1>Courses page</h1>
            <ul class="courses__list">
                {% for item in items %}
                    <li class="courses__item">
                        <div class="courses__item__image" style="background-image: url({{ item.img }})"></div>
                        <h3 class="courses__item__title">{{ item.title }}</h3>
                        <p class="courses__item__price price">{{ item.price }}</p>
                        <a href="/courses/{{ item.id }}" class="courses__item__link">Open course</a>
                        <a href="/courses/{{ item.id }}/edit?allow=true" class="courses__item__link">Edit course</a>
                        <form action="/card/add" method="post" class="courses__item__form">
                            <input type="hidden" name="id" value="{{ item.id }}">
                            <button type="submit">Buy</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}