.orders
{
    &__inner
    {
        @include container;
    }

    &__empty
    {
        margin-top: 2rem;
    }

    &__list
    {
        @include _flexbox;
        @include _align-items(center);
        @include _justify-content(space-between);
        @include _flex-wrap(wrap);
        margin-top: 2rem;
    }

    &__item
    {
        margin-top: 1rem;
        width: 49%;
        border: 1px solid #707070;
        padding: 1rem;

        ol
        {
            list-style-position: inside;
        }
    }
}