.course
{
    &__inner
    {
        @include container;
        @include _flexbox;
        @include _flex-wrap(wrap);
        @include _justify-content(space-between);
        @include _align-items(center);
        margin-top: 20px;
    }

    &__image
    {
        height: 400px;
        width: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__info
    {
        width: 48%;
        @include _flexbox;
        @include _justify-content(space-between);
        @include _flex-wrap(wrap);
    }

    &__price
    {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 1rem;
    }

    &__description
    {
        margin-top: 1rem;
        width: 100%;
    }

    &__buy
    {
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: $blue;
        margin-top: 1rem;
        color: $white;
        font-weight: 600;
    }
}